# 個人情報が入ったCSV
player_master.csv
daily_condition.csv
shift_data*.csv

# 選手の写真フォルダ
player_images/

# パスワード設定フォルダ
.streamlit/

physical_tests.csv

# シフト管理データ
shift_data.csv
shift_data_2026_02.csv
shift_data_2026_03.csv